<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>US Cities</title>
</head>
<body>
    <h1>Welcome, {{ user_info.name }}!</h1>
    <p>ID: {{ user_info.id }}</p>
    <a href="{{ url_for('reviews') }}">Go to Reviews</a>
    <h1>US Cities</h1>
    <table border="1">
        <tr>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Country</th>
            <th>State</th>
            <th>Population</th>
        </tr>
        {% for city in cities_data %}
        <tr>
            <td>{{ city['city'] }}</td>
            <td>{{ city['lat'] }}</td>
            <td>{{ city['lng'] }}</td>
            <td>{{ city['country'] }}</td>
            <td>{{ city['state'] }}</td>
            <td>{{ city['population'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
